@page "/catalog"
@using RoyalERP.WebApp.Shared.API.ProductAttributes
@using RoyalERP.WebApp.Shared.API.Products
@inject IProductAPI productApi
@inject IProductAttributeAPI attributeApi
@inject DialogService dialogService

<PageTitle>Catalog</PageTitle>

<div class="container">

    <RadzenTabs>
        <Tabs>

            <RadzenTabsItem Text="Products">
                <Products />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Classes">
                <ProductClasses />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Attributes">
                <ProductAttributes />
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>

</div>