@page "/"
@using RoyalERP.WebApp.Shared.API.Events
@using RoyalERP.WebApp.Shared.API.WorkOrders
@inject IEventAPI eventApi

<PageTitle>Home</PageTitle>

<style>

    .rz-datalist-data {
        padding: 0px !important;
        margin: 5px 0px 5px 0 !important;
    }

    ul.rz-datalist-data > li {
        padding: 10px !important;
        margin: 0px !important;
    }

    ul.rz-datalist-data > li:hover {
        background-color: #D0DBF8;
    }

</style>

<div class="container">
    
    <div class="row">

        <div class="col-3">
            <RadzenCard>
                <span>
                    <b style="font-size:large">2</b><span class="float-end">Pending Confirmation</span>
                </span>
                <span>
                    <b style="font-size:large">2</b><span class="float-end">Awaiting Release</span>
                </span>
                <span>
                    <b style="font-size:large">2</b><span class="float-end">Unscheduled</span>
                </span>
                <span>
                    <b style="font-size:large">2</b><span class="float-end">Late</span>
                </span>
            </RadzenCard>
        </div>

        <div class="col">

            <RadzenCard>

                <h3 class="h5">Notifications</h3>

                <RadzenDataList Data="_events" WrapItems="false">
                    <Template Context="eventDetails" >
                        <div class="event">
                            <span style="font-weight:bold">@eventDetails.Summary</span>
                            <span class="float-end">@eventDetails.Timestamp.ToString("M/dd H:mm tt")</span>
                        </div>
                    </Template>
                </RadzenDataList>

            </RadzenCard>

        </div>

    </div>
</div>

@code{

    private IEnumerable<Event> _events = Enumerable.Empty<Event>();

    protected override async Task OnInitializedAsync() {

        await LoadEvents();

    }

    private async Task LoadEvents() {
        _events = await eventApi.GetAll();
    }


}